In [1]:
import pandas as pd
df = pd.read_csv('Dataset/job_postings.csv')
df.head()

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
0,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",...,NaN,Entry level,NaN,1.699090e+12,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699138101
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,Metalcraft of Mayville\nMetalcraft of Mayville...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",...,NaN,NaN,NaN,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085420
2,3757938019,474443.0,"Manager, Engineering",\nThe TSUBAKI name is synonymous with excellen...,NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",...,NaN,NaN,Bachelor's Degree in Mechanical Engineering pr...,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085644
3,3757938018,18213359.0,Cook,descriptionTitle\n\n Looking for a great oppor...,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",...,NaN,Entry level,NaN,1.699080e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY,1699087461
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),"Job Summary\nAt iHerb, we are on a mission to ...",275834.0,NaN,205956.0,YEARLY,Full-time,United States,...,NaN,Mid-Senior level,NaN,1.699090e+12,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY,1699085346

In [2]:
df

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped
0,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",...,NaN,Entry level,NaN,1.699090e+12,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699138101
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,Metalcraft of Mayville\nMetalcraft of Mayville...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",...,NaN,NaN,NaN,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085420
2,3757938019,474443.0,"Manager, Engineering",\nThe TSUBAKI name is synonymous with excellen...,NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",...,NaN,NaN,Bachelor's Degree in Mechanical Engineering pr...,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085644
3,3757938018,18213359.0,Cook,descriptionTitle\n\n Looking for a great oppor...,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",...,NaN,Entry level,NaN,1.699080e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY,1699087461
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),"Job Summary\nAt iHerb, we are on a mission to ...",275834.0,NaN,205956.0,YEARLY,Full-time,United States,...,NaN,Mid-Senior level,NaN,1.699090e+12,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY,1699085346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33241,133114754,77766802.0,Sales Manager,Are you a dynamic and creative marketing profe...,NaN,NaN,NaN,NaN,Full-time,"Santa Clarita, CA",...,NaN,NaN,NaN,1.692830e+12,NaN,0,FULL_TIME,NaN,NaN,1
33242,108965123,NaN,Office Administrative Assistant,"A fast-fashion wholesaler, is looking for a fu...",NaN,NaN,NaN,NaN,Full-time,"New York, NY",...,NaN,NaN,NaN,1.699040e+12,NaN,0,FULL_TIME,NaN,NaN,1699044401
33243,102339515,52132271.0,Franchise Owner,DuctVentz is a dryer and A/C – heat vent clean...,NaN,NaN,NaN,NaN,Full-time,Greater Boston,...,NaN,NaN,NaN,1.699050e+12,NaN,0,FULL_TIME,NaN,NaN,1699063495
33244,85008768,NaN,Licensed Insurance Agent,While many industries were hurt by the last fe...,52000.0,NaN,45760.0,YEARLY,Full-time,"Chico, CA",...,NaN,NaN,NaN,1.692750e+12,NaN,1,FULL_TIME,USD,BASE_SALARY,1
33245,3958427,630152.0,Stylist/ Clorist,Karen Marie is looking for an awesome experien...,80000.0,NaN,35000.0,YEARLY,Full-time,"Chicago, IL",...,NaN,NaN,Must be a seasoned stylist with an existing bo...,1.699050e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,1699057868

In [3]:
job_industries = pd.read_csv('Dataset/job_details/job_industries.csv')
job_industries.head()

       job_id  industry_id
0  3378133231           68
1  3497509795           96
2  3690843087           47
3  3691775263          112
4  3691779379           80

In [4]:
industries = pd.read_csv('Dataset/maps/industries.csv')
industries.head()

   industry_id                         industry_name
0            1       Defense and Space Manufacturing
1            3       Computer Hardware Manufacturing
2            4                  Software Development
3            5          Computer Networking Products
4            6  Technology, Information and Internet

In [5]:
job_industries = pd.merge(job_industries, industries, on='industry_id', how='inner')
job_industries = job_industries.drop(['industry_id'], axis=1)
job_industries.head()

       job_id     industry_name
0  3378133231  Higher Education
1  3691799472  Higher Education
2  2448418468  Higher Education
3  3693039588  Higher Education
4  3693043655  Higher Education

In [6]:
df = pd.merge(df, job_industries, on ='job_id', how='inner')
df.head()

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped,industry_name
0,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",...,Entry level,NaN,1.699090e+12,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699138101,Medical Equipment Manufacturing
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,Metalcraft of Mayville\nMetalcraft of Mayville...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",...,NaN,NaN,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085420,Industrial Machinery Manufacturing
2,3757938019,474443.0,"Manager, Engineering",\nThe TSUBAKI name is synonymous with excellen...,NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",...,NaN,Bachelor's Degree in Mechanical Engineering pr...,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085644,Automation Machinery Manufacturing
3,3757938018,18213359.0,Cook,descriptionTitle\n\n Looking for a great oppor...,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",...,Entry level,NaN,1.699080e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY,1699087461,Non-profit Organizations
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),"Job Summary\nAt iHerb, we are on a mission to ...",275834.0,NaN,205956.0,YEARLY,Full-time,United States,...,Mid-Senior level,NaN,1.699090e+12,careers.iherb.com,0,FULL_TIME,USD,BASE_SALARY,1699085346,"Technology, Information and Internet"

In [7]:
job_skills = pd.read_csv('Dataset/job_details/job_skills.csv')
job_skills.head()

       job_id skill_abr
0  3690843087      ACCT
1  3690843087       FIN
2  3691763971      MGMT
3  3691763971      MNFC
4  3691775263      MGMT

In [8]:
skills = pd.read_csv('Dataset/maps/skills.csv')
skills.head()

  skill_abr         skill_name
0      PRCH         Purchasing
1      SUPL       Supply Chain
2        PR   Public Relations
3       SCI            Science
4      STRA  Strategy/Planning

In [9]:
job_skills = pd.merge(job_skills, skills, on ='skill_abr', how='inner')
job_skills = job_skills.drop(['skill_abr'], axis=1)
job_skills.head()

       job_id           skill_name
0  3690843087  Accounting/Auditing
1  3692300361  Accounting/Auditing
2  3696355954  Accounting/Auditing
3  3696373506  Accounting/Auditing
4  3696374362  Accounting/Auditing

In [10]:
df = pd.merge(df, job_skills, on ='job_id', how='inner')
df.head()

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,scraped,industry_name,skill_name
0,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.00,NaN,MONTHLY,Full-time,"Little River, SC",...,NaN,1.699090e+12,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699138101,Medical Equipment Manufacturing,Other
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,Metalcraft of Mayville\nMetalcraft of Mayville...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",...,NaN,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085420,Industrial Machinery Manufacturing,Management
2,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,Metalcraft of Mayville\nMetalcraft of Mayville...,NaN,NaN,NaN,NaN,Full-time,"Beaver Dam, WI",...,NaN,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085420,Industrial Machinery Manufacturing,Manufacturing
3,3757938019,474443.0,"Manager, Engineering",\nThe TSUBAKI name is synonymous with excellen...,NaN,NaN,NaN,NaN,Full-time,"Bessemer, AL",...,Bachelor's Degree in Mechanical Engineering pr...,1.699080e+12,www.click2apply.net,0,FULL_TIME,NaN,NaN,1699085644,Automation Machinery Manufacturing,Engineering
4,3757938018,18213359.0,Cook,descriptionTitle\n\n Looking for a great oppor...,NaN,22.27,NaN,HOURLY,Full-time,"Aliso Viejo, CA",...,NaN,1.699080e+12,jobs.apploi.com,0,FULL_TIME,USD,BASE_SALARY,1699087461,Non-profit Organizations,Management

In [11]:
benefits = pd.read_csv('Dataset/job_details/benefits.csv')
benefits.rename(columns={'inferred': 'benefit_inferred', 'type': 'benefit_type'}, inplace=True)
benefits.head()

       job_id  benefit_inferred          benefit_type
0  3690843087                 0     Medical insurance
1  3690843087                 0      Dental insurance
2  3690843087                 0                401(k)
3  3690843087                 0  Paid maternity leave
4  3690843087                 0  Disability insurance

In [12]:
df = pd.merge(df, benefits, on ='job_id', how='inner')
df.head()

,job_id,company_id,title,description,max_salary,med_salary,min_salary,pay_period,formatted_work_type,location,...,posting_domain,sponsored,work_type,currency,compensation_type,scraped,industry_name,skill_name,benefit_inferred,benefit_type
0,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.0,NaN,MONTHLY,Full-time,"Little River, SC",...,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699138101,Medical Equipment Manufacturing,Other,1,Medical insurance
1,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.0,NaN,MONTHLY,Full-time,"Little River, SC",...,careers-demant.icims.com,0,FULL_TIME,USD,BASE_SALARY,1699138101,Medical Equipment Manufacturing,Other,1,Disability insurance
2,3757937004,10515052.0,Auto Body Techncian,Company: Gerber Collision & Glass\n\nWELCOME T...,NaN,NaN,NaN,NaN,Full-time,"Daytona Beach, FL",...,boydgroup.wd1.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1699089473,Automotive,Management,1,Vision insurance
3,3757937004,10515052.0,Auto Body Techncian,Company: Gerber Collision & Glass\n\nWELCOME T...,NaN,NaN,NaN,NaN,Full-time,"Daytona Beach, FL",...,boydgroup.wd1.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1699089473,Automotive,Management,1,401(k)
4,3757937004,10515052.0,Auto Body Techncian,Company: Gerber Collision & Glass\n\nWELCOME T...,NaN,NaN,NaN,NaN,Full-time,"Daytona Beach, FL",...,boydgroup.wd1.myworkdayjobs.com,0,FULL_TIME,NaN,NaN,1699089473,Automotive,Management,1,Disability insurance

In [13]:
salaries = pd.read_csv('Dataset/job_details/salaries.csv')
salaries = salaries.drop(['salary_id'], axis=1)
salaries.rename(columns={'pay_period': 'salary_pay_period', 'currency': 'salary_currency', 'compensation_type': 'salary_compensation_type'}, inplace=True)
salaries.head()

,job_id,max_salary,med_salary,min_salary,salary_pay_period,salary_currency,salary_compensation_type
0,3378133231,30.0,NaN,22.0,HOURLY,USD,BASE_SALARY
1,3690843087,65000.0,NaN,55000.0,YEARLY,USD,BASE_SALARY
2,3691794313,22.0,NaN,19.0,HOURLY,USD,BASE_SALARY
3,3691795389,70000.0,NaN,68000.0,YEARLY,USD,BASE_SALARY
4,3691797089,22.0,NaN,18.0,HOURLY,USD,BASE_SALARY

In [14]:
df = pd.merge(df, salaries, on ='job_id', how='inner')
df.head()

,job_id,company_id,title,description,max_salary_x,med_salary_x,min_salary_x,pay_period,formatted_work_type,location,...,industry_name,skill_name,benefit_inferred,benefit_type,max_salary_y,med_salary_y,min_salary_y,salary_pay_period,salary_currency,salary_compensation_type
0,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.0,NaN,MONTHLY,Full-time,"Little River, SC",...,Medical Equipment Manufacturing,Other,1,Medical insurance,NaN,5250.0,NaN,MONTHLY,USD,BASE_SALARY
1,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.0,NaN,MONTHLY,Full-time,"Little River, SC",...,Medical Equipment Manufacturing,Other,1,Disability insurance,NaN,5250.0,NaN,MONTHLY,USD,BASE_SALARY
2,3757935381,19181907.0,Insights Analyst - Auto Industry,Who We Are\n\nEscalent is an award-winning dat...,64000.0,NaN,58000.0,YEARLY,Full-time,United States,...,Market Research,Information Technology,1,401(k),64000.0,NaN,58000.0,YEARLY,USD,BASE_SALARY
3,3757935381,19181907.0,Insights Analyst - Auto Industry,Who We Are\n\nEscalent is an award-winning dat...,64000.0,NaN,58000.0,YEARLY,Full-time,United States,...,Market Research,Information Technology,1,Vision insurance,64000.0,NaN,58000.0,YEARLY,USD,BASE_SALARY
4,3757935381,19181907.0,Insights Analyst - Auto Industry,Who We Are\n\nEscalent is an award-winning dat...,64000.0,NaN,58000.0,YEARLY,Full-time,United States,...,Market Research,Research,1,401(k),64000.0,NaN,58000.0,YEARLY,USD,BASE_SALARY

In [15]:
companies = pd.read_csv('Dataset/company_details/companies.csv')
companies = companies.drop(['description', 'city', 'zip_code', 'address', 'url'], axis=1)
companies.rename(columns={'name': 'company_name', 'state': 'company_state', 'country': 'company_country'}, inplace=True)
companies.head()

,company_id,company_name,company_size,company_state,company_country
0,1009,IBM,7.0,NY,US
1,1016,GE HealthCare,7.0,0,US
2,1021,GE Power,7.0,NY,US
3,1025,Hewlett Packard Enterprise,7.0,Texas,US
4,1028,Oracle,7.0,Texas,US

In [16]:
company_industries = pd.read_csv('Dataset/company_details/company_industries.csv')
company_industries.head()

   company_id                               industry
0    81149246                       Higher Education
1    10033339      Information Technology & Services
2     6049228                             Accounting
3     2641066  Electrical & Electronic Manufacturing
4    96649998                Marketing & Advertising

In [17]:
companies = pd.merge(companies, company_industries, on ='company_id', how='inner')
companies.head()

,company_id,company_name,company_size,company_state,company_country,industry
0,1009,IBM,7.0,NY,US,Information Technology & Services
1,1009,IBM,7.0,NY,US,IT Services and IT Consulting
2,1016,GE HealthCare,7.0,0,US,Hospital & Health Care
3,1016,GE HealthCare,7.0,0,US,Hospitals and Health Care
4,1021,GE Power,7.0,NY,US,Renewables & Environment

In [18]:
df = pd.merge(df, companies, on ='company_id', how='inner')
df.head()

,job_id,company_id,title,description,max_salary_x,med_salary_x,min_salary_x,pay_period,formatted_work_type,location,...,med_salary_y,min_salary_y,salary_pay_period,salary_currency,salary_compensation_type,company_name,company_size,company_state,company_country,industry
0,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.0,NaN,MONTHLY,Full-time,"Little River, SC",...,5250.0,NaN,MONTHLY,USD,BASE_SALARY,HearingLife,5.0,New Jersey,US,Retail
1,3757940104,553718.0,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.0,NaN,MONTHLY,Full-time,"Little River, SC",...,5250.0,NaN,MONTHLY,USD,BASE_SALARY,HearingLife,5.0,New Jersey,US,Retail
2,3757754488,553718.0,Patient Care Coordinator,Overview\n\nWho WE Are: \n\nHearingLife is a D...,NaN,5250.0,NaN,MONTHLY,Full-time,"Eugene, OR",...,5250.0,NaN,MONTHLY,USD,BASE_SALARY,HearingLife,5.0,New Jersey,US,Retail
3,3757754488,553718.0,Patient Care Coordinator,Overview\n\nWho WE Are: \n\nHearingLife is a D...,NaN,5250.0,NaN,MONTHLY,Full-time,"Eugene, OR",...,5250.0,NaN,MONTHLY,USD,BASE_SALARY,HearingLife,5.0,New Jersey,US,Retail
4,3757935381,19181907.0,Insights Analyst - Auto Industry,Who We Are\n\nEscalent is an award-winning dat...,64000.0,NaN,58000.0,YEARLY,Full-time,United States,...,NaN,58000.0,YEARLY,USD,BASE_SALARY,Escalent,4.0,MI,US,Market Research

In [19]:
df = df.drop(['company_id'], axis=1)

In [20]:
df

,job_id,title,description,max_salary_x,med_salary_x,min_salary_x,pay_period,formatted_work_type,location,applies,...,med_salary_y,min_salary_y,salary_pay_period,salary_currency,salary_compensation_type,company_name,company_size,company_state,company_country,industry
0,3757940104,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.0,NaN,MONTHLY,Full-time,"Little River, SC",NaN,...,5250.0,NaN,MONTHLY,USD,BASE_SALARY,HearingLife,5.0,New Jersey,US,Retail
1,3757940104,Hearing Care Provider,Overview\n\nHearingLife is a national hearing ...,NaN,5250.0,NaN,MONTHLY,Full-time,"Little River, SC",NaN,...,5250.0,NaN,MONTHLY,USD,BASE_SALARY,HearingLife,5.0,New Jersey,US,Retail
2,3757754488,Patient Care Coordinator,Overview\n\nWho WE Are: \n\nHearingLife is a D...,NaN,5250.0,NaN,MONTHLY,Full-time,"Eugene, OR",1.0,...,5250.0,NaN,MONTHLY,USD,BASE_SALARY,HearingLife,5.0,New Jersey,US,Retail
3,3757754488,Patient Care Coordinator,Overview\n\nWho WE Are: \n\nHearingLife is a D...,NaN,5250.0,NaN,MONTHLY,Full-time,"Eugene, OR",1.0,...,5250.0,NaN,MONTHLY,USD,BASE_SALARY,HearingLife,5.0,New Jersey,US,Retail
4,3757935381,Insights Analyst - Auto Industry,Who We Are\n\nEscalent is an award-winning dat...,64000.0,NaN,58000.0,YEARLY,Full-time,United States,NaN,...,NaN,58000.0,YEARLY,USD,BASE_SALARY,Escalent,4.0,MI,US,Market Research
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53019,2730408164,Registered Behavior Technician (RBT),KISS ABA operates as a comprehensive and consi...,27.0,NaN,18.0,HOURLY,Full-time,"Roswell, GA",NaN,...,NaN,18.0,HOURLY,USD,BASE_SALARY,KISS ABA,1.0,Georgia,US,Mental Health Care
53020,2730408164,Registered Behavior Technician (RBT),KISS ABA operates as a comprehensive and consi...,27.0,NaN,18.0,HOURLY,Full-time,"Roswell, GA",NaN,...,NaN,18.0,HOURLY,USD,BASE_SALARY,KISS ABA,1.0,Georgia,US,Mental Health Care
53021,3958427,Stylist/ Clorist,Karen Marie is looking for an awesome experien...,80000.0,NaN,35000.0,YEARLY,Full-time,"Chicago, IL",NaN,...,NaN,35000.0,YEARLY,USD,BASE_SALARY,Karen Marie Salon,NaN,Illinois,US,Consumer Services
53022,3958427,Stylist/ Clorist,Karen Marie is looking for an awesome experien...,80000.0,NaN,35000.0,YEARLY,Full-time,"Chicago, IL",NaN,...,NaN,35000.0,YEARLY,USD,BASE_SALARY,Karen Marie Salon,NaN,Illinois,US,Consumer Services
53023,3958427,Stylist/ Clorist,Karen Marie is looking for an awesome experien...,80000.0,NaN,35000.0,YEARLY,Full-time,"Chicago, IL",NaN,...,NaN,35000.0,YEARLY,USD,BASE_SALARY,Karen Marie Salon,NaN,Illinois,US,Consumer Services

In [22]:
import json
json_data = df.to_json(orient='records', lines=True)
with open('dataset_jobs.json', 'w') as file:
    file.write(json_data)